.main{
    background: url("../assets/img/splash.png");
    background-repeat: no-repeat;
}
.capitalize {
    text-transform: capitalize;
}
.display-none{
    display: none !important;
}
.content-wrap {
	position: relative;
}
body.stretched.no-transition{
    margin: 0px !important;
}
.logo{
    max-height: 170px;
    max-width: 170px;
}
.main-container{
    position: relative;
    overflow: hidden;
}
.app-background{
    background-color: #313030;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.mainscreen-background{
    background-color: #fff;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.login-section{
    margin-top: 50px;
}
.login-section:after {
    clear:both;
    content:"";
    display:block;
}
.login-screen{
    margin-top: 70px;
}
.login-bottom-section{
   margin-top: 25px;
   margin: 0 auto;
   width: 100%;
   max-width: 518px
}
.button-standard{
    width: 100%;
    height: 80px;
    background-color: #009587;
    border: none;
    color: #fff !important;
}
.btn-charge{
    width: 100%;
    height: 100%;
    background-color: #009587;
    border: none;
    font-family: AvenirNext-Medium;
    font-size: 20px;
    color: #ebebeb;
}
.dotted-button{
    font-size: 18px;
    line-height: 2;
    cursor: pointer;
    border-bottom: 2px dotted #676767;
    font-family: AvenirNext-Medium;
    color: #949494;
}
.login-input{
    font-size: 18px;
    height: 35px;
}
button.button-standard {
    margin-top: 25px;
    max-width: 518px;
}
.float-left{float: left}
.float-right{float: right}
/* floating labels*/

.control.password{
    margin-top: 15px;
}
.float-label .control {
  float: left;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #979797;
  padding-top: 30px;
  margin-bottom: 10px;
}
.float-label .control.small {
  width: 30%;
  border-right: 1px solid #979797;
}
.float-label .control.medium {
  width: 70%;
  padding-left: 10px;
}
.float-label .control:last-child {
  border: 0;
}

#deliveryAddress .float-label .control:last-child {
  border-bottom: 1px solid #979797;
}

.float-label input,
.float-label textarea {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    background: transparent;
    color: #009587;
    font-family: AvenirNext-Regular;
    font-size: 28px;
    height: 40px;
}
.float-label input + label,
.float-label textarea + label {
  position: absolute;
  top: 15px;
  transition: top 0.3s ease, opacity 0.7s ease;
  opacity: 0;
  font-size: 18px;
  font-weight: normal;
  color: #676767;
  font-family: AvenirNext-Medium;
  font-size: 18px
}
.float-label input:focus + label,
.float-label textarea:focus + label {
  opacity: 1;
  top: 3px;
}
.float-label input:focus + bordor{
  transition: width .5s ease, background-color .5s ease;
}
.float-label input:focus + label,
.float-label textarea:focus + label {
  color:#676767;
}

#deliveryAddress .float-label input,
#pickUpOrder .float-label input,
#deliveryAddress .float-label textarea {
    color: #009587;
    font-size: 22px;
    height: 30px;
    border-bottom: 1px solid #979797;
}


#deliveryAddress .float-label input + label,
#deliveryAddress .float-label textarea + label {
    color: #676767;
}

#deliveryAddress .float-label input:focus + label,
#deliveryAddress .float-label input + label.filled,
#pickUpOrder .float-label input:focus + label,
#pickUpOrder .float-label input + label.filled,
#deliveryAddress .float-label textarea:focus + label,
#deliveryAddress .float-label textarea + label.filled{
    font-size: 16px;
    color: #b3b3b3;
    opacity: 1;
    top: 3px;
}

.float-label input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.float-label .no-float {
    opacity: 1;
    top: 15px;
}

.no-float-input {
    color: #009385;
    font-size: 18px;
}

.no-float-input #paymentMethod {
    padding: 10px 40px;
    display: inline-block;
    margin: 0px 10px;
    border: 1px solid #878787;
    cursor: pointer;
}

.no-float-input #paymentMethod:hover, .no-float-input #paymentMethod.selected{
    color: white;
    background-color: #009385;
    border: 1px solid #009385;
}

.no-float-input label {
    font-size: 16px;
    font-weight: normal;
    color: #D4D4D4;
    display: block;
}

.no-float-input input {
    color: #009587;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    background-color: transparent;
}

.no-float-input .input-section {
    padding: 15px 0px;
}

input[type="radio"] {
    display:none;
}

.sett-item input[type="radio"] + label .outerCircle {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
    border: 1px solid #009385;
}

.sett-item input[type="radio"] + label .innerCircle {
    display:inline-block;
    width:13px;
    height:13px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
    position: relative;
    top: -4px;
    left: 5px;
}

input[type="radio"] + label {
    opacity: 1;
    position: static;
    color: #009385;
    font-size:20px;
}
input[type="radio"] + label .outerCircle {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
    border: 1px solid white;
}

input[type="radio"] + label .innerCircle {
    display:inline-block;
    width:9px;
    height:9px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
    position: relative;
    top: -6px;
    left: 2px;
}

input[type="radio"] + label .outerCircle {
     background-color: transparent;
}

input[type="radio"]:checked + label .innerCircle{
     background-color: #009385;
}


input[type="radio"] + label span,
/*input[type="radio"]:checked + label span {
  transition:background-color 0.2s linear;
}*/





/* Colors*/
.white{
    color: #fff;
}
.E5{
    color: #E5E5E5;
}
.light-color{
    color: #949494;
}
.text-area-color{
    color: #737171 !important;
}
.d3d3d3{
    color: #d3d3d3;
}
.color4cad8e{
    color: #4cad8e;
}
.c888888{
    color: #888888;
}
button[disabled], html input[disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;
}


.container.login-screen {
    max-width: 80% !important;
}


/* main screen */
.main-left{
    height: 100vh;
}
.main-right{
    height: 100vh;
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}
.try-border{
    border: 1px solid red;
}
.full-height{
    height: 100% !important;
}
.full-width{
    width: 100% !important;
}
.height25{
    height: 25%;
}
.height50{
    height: 50%;
}
.cal-btn{
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: #858585;
    font-family: AvenirNext-Regular;
    background-color: #fff;
    border: none;
    border-right: 1px solid rgba(231, 231, 231, .4);
    border-bottom: 1px solid rgba(231, 231, 231, .4);
}
.cal-clear{
    font-family :AvenirNext-UltraLight !important;
    font-size: 60px; 
}
.cal-add{
    font-family :AvenirNext-UltraLight !important;
    font-size: 140px;
    background-color: #f3f3f3;
}
.cal-back{
    background: url("../assets/img/back.png") no-repeat center;
    background-size: 50px;
}
.valign-center{
    display: table-cell;
    vertical-align: middle;
}
.parent{
    display: table;
}
.main-header{
    height: 80px;
    border: 1px solid #009587;
    width: 100%;
    position: absolute;
    top: 0;

}
.main-options{
    position: absolute;
    top: 80px;
    top: 80px;
    width: 100%;
    height: 65px;
    /* border: 1px solid #979797; */
}
.main-footer{
    height: 65px;
    position: absolute;
    bottom:0;
    width: 100%;
}
.main-calc{
    position: absolute;
    top: 145px;
    bottom: 65px;
    width: 100%;
    overflow: scroll;
}

.round-button {
    display:block;
    width:40px;
    height:40px;
    line-height:40px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    font-size:20px;
}
.round-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    font-family: AvenirNext-Medium;
    color:#fff;
    background-color: #009587;
    border: none;
    padding: 0px;
}
.header-display {
	margin-top: 25px;
	width: 100%;
}
.order-qty {
	max-width: 72px;
	width: 72px;
	border-right: 1px solid #E7E7E7;
	float: left;
}
.grand-total {
	font-size: 24px;
	text-align: left;
	margin-left: 92px;
	font-family: AvenirNext-DemiBold;
	color: #009587;
	/* width: 100%; */
	/* float: left; */
}
.order-type-main{
    float: left;
    height: 100%;
}
.order-type {
    min-width: 65px;
    max-width: 65px;
    background-color: #F3F3F3;
    height: 100%;
    float: left;
    text-align: center;
    border-right: 1px solid #E7E7E7;
    cursor: pointer;
}
.order-type-active {
    background-color: #484848 !important;
}

.order-type-img {
	max-height: 25px;
	margin-top: 18px;
}
.cal-display{
    overflow: auto;
    border: 1px dotted #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.font18{
    font-size: 18px;
    font-family: AvenirNext-Regular;
}
.paddingl16{
    padding-left: 16px;
}
.paddingr16{
    padding-right: 16px;
}
.margin-16{
    margin: 16px;
}
.bottom-logo{
    background-color: #EEEEEE;
    height: 100%;
    width: 15%;
    text-align: center;
}
.bottom-logo img{
    width: 56px;
    margin-top: 15px;
}
.main-tabs{
    width:70%;
    height: 100%;
    background-color: gray;
}
.search-btn {
	width: 15%;
	background-color: #6C6C6C;
	height: 100%;
	text-align: center;
}
.search-btn img {
	width: 24px;
	margin-top: 24px;
}
.tab-btn {
	height: 100%;
	border: none;
	width: 25%;
	float: left;
	background-color: #6C6C6C;
	font-family: AvenirNext-Medium;
    color: #ebebeb;
	font-size: 18px;
	border-right: 1px solid #6C6C6C;
}
.tab-btn-active{
    background-color: #343333;
}

.font-medium-28{
    font-family: AvenirNext-Medium;
    font-size: 28px
}
.font-medium-24{
    font-family: AvenirNext-Medium !important;
    font-size: 24px !important;
}
.font-regular-24{
    font-family: AvenirNext-Regular !important;
    font-size: 24px !important;
}
.font-regular-18{
    font-family: AvenirNext-Regular;
    font-size: 18px
}

.error-show{
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: #ED666A;
    font-weight: normal;
}
.margin-cal{
    margin: 10px;
}
.calval{
    white-space: nowrap;
    max-width: 50%;
}

.user-info{
    height: 65px;
}
.sync-btn{
    height: 65px;
    background: #f3f3f3 url("../assets/img/syncapp.png") no-repeat center;
    background-size: 30px;
}
.user-name{
    font-family: AvenirNext-Italic;
    font-size: 16px;
    color: #707070;
    padding: 23px 65px 17px 13px;
    height: 65px;
}
.setting-btn {
    padding: 25px 10px;
    background: none;
    font-size: 20px;
    font-family: AvenirNext-Medium;
    color: #009587;
    border: 1px solid rgba(231, 231, 231, .4);
    border-left: none;
}
.currentOrder{
    height: 50px;
    background-color: #484848;
    text-align: center;
    float: left;
    width: 100%;
}
.currentOrder-lbl{
    font-size: 20px;
    color: #fff;
    font-family: AvenirNext-DemiBold;
}
.order-list{
    margin-bottom: 65px;
    width: 100%;
    float: left;
}

.order-total{
    height: 65px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #009587;
    cursor: pointer;
}

.lookup-icon{
    background: url("../assets/img/look.png") no-repeat center;
    background-size: 35px;
    padding: 14px 31px;
    position: absolute;
}
.clear{
    background: none;
    border: none;
}
.right-charge-btn{
    font-size: 20px;
    color: #fff;
    font-family: AvenirNext-DemiBold;
    /* padding: 20px 53px; */
    width: 100%;
}
.order-total-price{
   font-family: AvenirNext-Medium;
   font-size: 20px;
   color: #fff;
   border-right: 1px solid #E7E7E7;
   padding-left: 10px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.order-total-display{
    padding-top: 20px !important;
    padding-left: 10px !important;
}
.list-item{
   font-family: AvenirNext-Regular;
   font-size: 14px;
   color: #707070;
   padding: 10px 7px !important;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.list-item-custom{
    border: none !important;
    border-bottom: 1px dotted rgba(231, 231, 231, .4) !important;
    padding: 0px !important;
}
.list-item-basic{
    clear: both;
    font-family: AvenirNext-Regular;
    font-size: 12px;
    padding: 0px 7px;
}
.list-heading {
    border-bottom: 1px solid rgba(231, 231, 231, .4);
}
.border-bottom{
    border-bottom: 1px solid rgba(231, 231, 231, .4);
}
.order-name{
    min-width: 150px;
    white-space: nowrap;
    max-width: 50%;
    overflow: scroll;
    border: none;
}
.cat-info-name{
    min-width: 150px;
    white-space: nowrap;
    max-width: 80%;
    overflow: scroll;
}
.saveOpt{
    position: absolute;
    bottom: 65px;
    width: 100%;
}
.setting-btn.savebtn {
    padding: 16px 10px;
}
.list-order{
    position: absolute;
    top: 331px;
    bottom: 106px;
    overflow-y: scroll;
}
.delete-icon{
    background: url("../assets/img/trash.png") no-repeat center;
    background-size: 19px;
    padding: 22px 10px;
    position: absolute;
}
.del-btn{
    width: 30px;
    position: absolute;
    right: 20px;
}
.no-record{
    width: 50%;
    margin-top: 80px;
}
.no-record-label{
    font-family: AvenirNext-Regular;
    font-size: 18px;
    padding: 20px 51px;
    color: #b3b3b3;
}
.div-disable{
    opacity: 0.6;
    cursor: not-allowed;
}
button:active,
button:focus,
button.active {
    outline: 0;
  /*background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;*/
}
input:active,
input:focus,
input.active {
    outline: 0;
  /*background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;*/
}
.bar{ position:relative; display:block;}
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:-1px; 
  position:absolute;
  background:#009587; 
  transition:0.7s ease all; 
  -moz-transition:0.7s ease all; 
  -webkit-transition:0.7s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

#deleteallOrder.modal::before {
    content: "";	  
    display: inline-block;
    height: 100%;	 
    margin-right: -4px;
    vertical-align: middle;
}

#deleteallOrder .modal-content {
    box-shadow: none !important;
    border: none !important;
}
#deleteallOrder .modal-dialog {
     display: inline-block;
     text-align: left;
     vertical-align: middle;
     width: 66.66666667%;
}
#deleteallOrder .modal-body {
    /* padding: 50px 0px 72px 40px!important; */
    background-color: #505050;
    width: 100%;
    height: 100px;
    padding: 0px;
}
#deleteallOrder.modal{
	/*text-align:center;*/
}
#deleteallOrder.modal-backdrop {
   background-color:none !important;
}
#deleteallOrder.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

#successOrder .modal-body {
    background-color: #505050;
    width: 100%;
    height: 201px;
    padding: 0px 45px 10px 46px;
}

#successOrder .modal-footer{
    background-color: #484848;
    border: none;
    text-align: center;
    padding: 0px !important;
}

#successOrder .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: right; 
}
.order-success-body-text{
    font-size: 24px;
    color: #4cad8e;
    font-family: AvenirNext-Medium;
    margin-top: 40px;
}
.form-left-half{
    width: 50%;
    text-align: center;
    float: left;
    background-color: transparent;
    padding: 15px;
    font-size: 20px !important;
    line-height: 1.7;
    border-top: 1px solid #979797;
}
.form-left-right{
    width: 50%;
    height: 100%;
    background-color: #4cad8e;
    padding: 15px;
}

#deliveryAddress .modal-body, #pickUpOrder .modal-body {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 0px 46px 10px 46px;
}

#deliveryAddress .modal-footer, #pickUpOrder .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#deliveryAddress .modal-header, #pickUpOrder .modal-header{
    background-color: #505050;
    border: none;
    border-bottom: 1px solid #737373;
    padding: 0px;
    text-align: right; 
}

#saveOrder .modal-body {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 0px 46px 10px 46px;
}

#saveOrder .modal-footer {
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#saveOrder .modal-header {
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: right; 
}

.saveOrder-done-btn{
    color: #ffffff;
    font-family: AvenirNext-Regular;
    font-size: 24px;
}

#markAsComplete .modal-body {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 0px 46px 10px 46px;
}

#markAsComplete .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#markAsComplete .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: right; 
}

#addnote .modal-body {
    background-color: #505050;
    width: 100%;
    height: 220px;
    padding: 0px 46px 10px 46px;
}

#addnote .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#addnote .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: right; 
}
.addnote-done-btn{
    color: #ffffff;
    font-family: AvenirNext-Regular;
    font-size: 24px;
    /* background: coral; */
}
input.add-note-imput {
    height: 100px;
    font-size: 24px;
}
.close-addnote{
    width: 50px;
    height: 50px;
    background-color: #737373;
    border: none;
    color: #484848;
    font-family: AvenirNext-Regular;
    font-size: 20px;
    float: right;
}

#alertBox .close-addnote {
    width: 30px;
    height: 30px;
}

.modal-label{
    color: #d3d3d3;
    font-family: AvenirNext-Regular;
    font-size: 18px;
}

.popuptext{
    color: #ffffff;
    font-family: AvenirNext-Regular;
    font-size: 20px;
    width: 80%;
    padding: 35px;
}
.popbtn-base{
    width: 20%;
    border-left: 1px solid #979797;
}
.pop-btn{
    background: none !important;
    border: none !important;
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    color: #ffffff;
    font-family: AvenirNext-Regular;
    font-size: 20px;
}
.add-note{
    color: #d3d3d3;
    font-family: AvenirNext-Regular;
    font-size: 18px;
    border: 1px solid rgba(231, 231, 231, .4);
    width: 60%;
    height: 40px;
    margin-top: 10px;
}

.add-note.note-saved{
    color: #979797;
    border: 1px solid #979797;
}
textarea.add-note-imput {
    height: 150px;
    font-size: 24px;
    border-bottom: 1px solid #4db694;
}


#paymentOptions .modal-body {
    background-color: #505050;
    width: 100%;
    height: 300px;
    padding: 0px 46px 10px 46px;
    border-top: 1px solid rgba(231, 231, 231, .4);
}

#paymentOptions .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#paymentOptions .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: left;
    height: 50px;
}

#creditDebitOption .modal-body, #alertBox .modal-body {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 1px solid rgba(231, 231, 231, .4);
}

#creditDebitOption .modal-footer, #alertBox .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#creditDebitOption .modal-header, #alertBox .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: left;
    height: auto;
}


.payment-hlabel{
    padding: 13px 25px;
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: #4cad8e;
    font-weight: normal;
    margin: 0px;
}
.pay-option{
    height: 150px;
    cursor: pointer;
}
.pay-option-label{
    font-family:AvenirNext-Regular;
    font-size: 18px;
    color: #d3d3d3;
    font-weight: normal;
    padding: 15px;
}

.pay-option-img{
    height: 78px;
    margin-top: 25px;
}

#cashPayment .modal-body {
    background-color: #505050;
    width: 100%;
    height: 250px;
    padding: 35px 30px;
    border-top: 1px solid rgba(231, 231, 231, .4);
}

#cashPayment .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#cashPayment .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: left;
    height: 50px;
}
.cash-order-bal{
    background-color: #2c2b2b;
    height: 60px;
    position: absolute !important;
    width: 100% !important;
    left: 15px !important;
    bottom: 0;
    padding: 12px 15px;
}


#otherOptions .modal-body {
    background-color: #505050;
    width: 100%;
    height: 180px;
    padding: 35px 30px;
    border-top: 1px solid rgba(231, 231, 231, .4);
}

#otherOptions .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
}

#otherOptions .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: left;
    height: 50px;
}
.dotted-btn{
    font-family: AvenirNext-Medium;
    font-size: 20px;
    color: #4db694;
    border-bottom: 1px dotted #4db694;
    display: inline-block;
}



.border-right{
    border-right: 1px solid rgba(231, 231, 231, .4);
}
.border-left{
    border-left: 1px solid rgba(231, 231, 231, .4);
}
.border-top{
    border-top: 1px solid rgba(231, 231, 231, .4);
}
.border-bottom{
    border-bottom: 1px solid rgba(231, 231, 231, .4);
}
.cate-base{
    padding: 12px;
}
.cat-def{
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: #565656;
    padding: 20px 5px;
    background: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cat-grid{
    height: 150px;
    background-size: cover !important;
}
.grid-title{
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: #565656;
    padding: 10px;
    background: rgba(231, 231, 231, .8);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.col-gap{
    padding: 1.5px !important;
    overflow: hidden;
}

.swich-1{
    background: url("../assets/img/toggle_view_1.png") no-repeat top left;
    width: 45px;
    height: 21px;
    cursor: pointer;
}
.swich-2{
    background: url("../assets/img/toggle_view_2.png") no-repeat top left;
    width: 45px;
    height: 21px;
    cursor: pointer;
}
.swich-3{
    background: url("../assets/img/toggle_view_3.png") no-repeat top left;
    width: 45px;
    height: 21px;
    cursor: pointer;
}
.other-option-text{
    border-bottom: 1px solid #4cad8e;
}
.other-option-input{
    background: transparent;
    border: none;
}
.border-btn{
    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #d3d3d3;
    border: 1px solid #979797;
    position: absolute;
    right: 14px;
    width: 60px;
    text-align: center;
    padding: 2px;
    letter-spacing: 3px;
}
.pointer{
    cursor: pointer;
}
.pro-main{
    border-right: 1px solid rgba(231, 231, 231, .4);
    padding: 0px 15px !important;
}
.close-pro{
    font-size: 22px;
    font-family: AvenirNext-Regular;
    float: right;
    padding: 19px 8px;
    color: #a0a0a0;
    cursor: pointer;
}
.add-to-order{
    background: #009587;
    padding: 18px;
}

.product-image{
    background-repeat: no-repeat !important;
    height: 280px;
    background-size: cover;
    background-position: center !important;
    margin-bottom: 20px;
}
.pro-price-box{
    padding: 10px 5px;
}
.pro-mrp{color: #fe8787;text-decoration: line-through;}
.pro-price{
   color: #009385; 
}
.pro-info-box{
    font-family: AvenirNext-Medium;
    font-size: 14px;
    color: #888888;
    margin-top: 25px;
}
.pro-info{
    display: block;
    line-height: 2;
    word-break: break-all;
    word-wrap: break-word;
}
.pro-qty{
    margin-top: 25px;
}
.pro-size{
    margin-top: 25px;
}
.pro-addone{
    margin-top: 25px;
    float: left;
}
.pro-title{
    font-family: AvenirNext-Medium;
    font-size: 20px;
    color: #8b8989;
}
.pro-qty-minus{
    width: 75px;
    height: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 18px;
    float: left;
}
.pro-qty-plus{
    width: 75px;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
}
.pro-qty-val{
    width: 75px;
    height: 60px;
    font-size: 18px;
    float: left;
    text-align: center;
    margin: 0px 10px;
    padding-top: 18px;
    font-family: AvenirNext-Medium;
    color: #888888;
}
.pro-size-val{
    font-size: 18px;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding: 22px;
    font-family: AvenirNext-Regular;
    font-size: 18px;
    color: #8b8989;
    cursor: pointer;
}
.pro-size-val-active{
    color: #009587 !important;
    border: 1px solid rgba(0, 149, 135,.7) !important;
}
.border-pro{
    border: 1px solid rgba( 216, 216, 216, .7);
}
.pre-updated{
    background: none !important;
    border: none !important;
}
.pro-icons{
    font-size: 30px;
    margin-top: 1px;
    color: #d8d8d8;
    cursor: pointer;
}
.star-yellow{
    color: #fee47e !important;
}
#scanNPay .modal-body {
    background-color: #505050;
    width: 100%;
    height: 300px;
    padding: 0px 46px 10px 46px;
}
#scanNPay .modal-body2, #pickUpOrder .modal-body2 {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 0px 46px 10px 46px;
    border-top: 1px solid rgba(231, 231, 231, .4);
}

#scanNPay .modal-body3, #pickUpOrder .modal-body3 {
    background-color: #505050;
    width: 100%;
    height: auto;
    padding: 0px 46px 10px 46px;
    color:#4cad8e;
}

#scanNPay .modal-footer{
    background-color: #4cad8e;
    border: none;
    text-align: center;
    padding:0 !important;
}

#scanNPay .modal-header{
    background-color: #505050;
    border: none;
    padding: 0px;
    text-align: left;
    height: 50px;
}

.scanNPay-option-label{
     font-family:AvenirNext-Regular;
    font-size: 18px;
    color: #d3d3d3;
    font-weight: normal;
    position: absolute;
    left: 0;
    right: 0;
    top: 33%;
}


/* Settings Screen*/
.left-header{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background: #484848;
    color: #e1e1e1;
}
.left-header-icon{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 30px;
    color: #8b8a8a;
    cursor: pointer;
}
.mainscreen-seeting-background{
    background-color: #f1f1f1;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.sett-left-content{
    border: 1px solid #979797;
    padding: 8px !important;
    height: 100vh;
}
.left-content-button-icon{
    padding: 5px 10px;
    display: inline-block;
    border-right: 1px solid #d6d6d6;
    vertical-align: middle;
}

.left-content-button-icon svg g g{
    fill: #484848;
}

.left-content-btn{
    border: 1px solid #484848;
    margin-bottom: 12px;
    color: #484848;
    cursor: pointer;
    padding: 18px;
    overflow: auto;
}
.left-content-btn:hover, .left-content-btn.selected {
    border: 1px solid #009587;
    color: #009587;
}

.left-content-btn:hover .left-content-button-icon svg g g, .left-content-btn.selected .left-content-button-icon svg g g{
    fill: #009587;
}


.left-content-button-txt{
    font-family: AvenirNext-Medium;
    font-size: 20px;
    padding: 8px 15px;
    display: inline-block;
}

.right-header-div{padding: 10px !important;}
.sett-main-title{
    text-align: center;
    padding: 14px;
    color: #009587;
    font-family: AvenirNext-Medium;
    font-size: 20px;
    background: white;
}
.sett-main-content{
    text-align: center;
    padding: 14px;
    color: #009587;
    font-family: AvenirNext-Medium;
    font-size: 20px;
    background: white;
    margin-top: 10px;
    border-bottom: 1px solid #009587;
}
.sett-vod-transaction{
  
    padding: 25px;
    color: #a1a1a1;
    font-family: AvenirNext-Medium;
    font-size: 16px;
    background: white;
    margin-top: 10px;
    
}
.sett-main-edit{
    background: white;
}
.sett-main-edit-icon{
    text-align: right;
    background-color: #009587;
    width: 70px !important;
    height: 38px;
    margin-top: 27px;
    float: right !important;
}
.sett-main-edit-icon-i{
    font-size: 18px;
    color: white;
    position: relative;
    top: 10px;
    right: 25px;
}
.sett-main-edit-title{
    font-family: AvenirNext-Regular;
    font-size: 20px;
    color: #484848;
    padding: 37px 18px 18px 18px;
}
.sett-main-details{
    background: #fff;
}
.sett-main-val-left{
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #484848;
    padding: 15px;
}
.sett-main-val-right{
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #484848;
    padding: 15px;
    text-align: right;
}
.txtDate{

    border: 0;
    border-bottom: 1px solid #e7e7e7;
    outline: 0;
    width: 411px;
    padding: 12px;
}
.set-right-txtbox{
    padding-left: 25px;
}

.sett-main-confirm-transaction{
    background: #fff;
    margin-top: 10px;
    padding-right: 19px!important;
    padding-left: 25px!important;
    padding-top: 25px!important;
}

.sett-div-btn{
    text-align: center;
    margin-top: 42px;
}
.div-main-goback{
   text-align: right;
   padding: 0px!important;
   margin: 0px;
}
.div-main-goback-inner{
    background: gray;
    padding: 12px 35px;
    display: inline-block;
    font-size:18px;
    color: #e1e1e1
    
}
.div-main-confirm{
text-align: left;
padding: 0px!important;
margin: 0px;
}
.div-main-confirm-confirm{
background: gray;
padding: 12px 20px;
display: inline-block; 
background-color: #009587;
font-size:18px;color: #e1e1e1
}
.sett-change-btn{
 font-family: AvenirNext-Regular;
padding: 12px 16px;
display: inline-block; 
background-color: #484848;
font-size:18px;
color: #e7e7e7;
}
.sett-submit-btn{
    font-family: AvenirNext-Regular;
padding: 14px 17px;
display: inline-block; 
background-color: #009587;
font-size:18px;
color: #e7e7e7;
margin-top: 35px;

}
.sub-header{
    color: #a1a1a1;
}

/*------------All order----------------*/
.allOrder-left-header{
    font-family: AvenirNext-Regular;
    text-align: center;
    padding: 22px;
    font-size: 20px;
    background: #484848;
    color: #e1e1e1;
    cursor: pointer;
}
.allOrder-left-header-tab{
    text-align: center;
    padding: 13px !important;
    font-size: 20px;
    background: #484848;
    color: #e1e1e1;
    font-family: AvenirNext-Medium;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.allOrder-left-header-tab:hover{
    text-align: center;
    padding: 13px !important;
    font-size: 20px;
    background: #484848;
    color: #4cad8e;
    font-family: AvenirNext-Medium;
    cursor: pointer;
    border-bottom: 3px solid #4cad8e;
}

.profile-header-tab{
    text-align: center;
    padding: 13px !important;
    font-size: 20px;
    background: white;
    color: #484848;
    font-family: AvenirNext-Medium;
    cursor: pointer;
    border-bottom: 3px solid #e1e1e1;
}
.profile-header-tab:hover, .profile-header-tab.selected{
    text-align: center;
    padding: 13px !important;
    font-size: 20px;
    background: white;
    color: #009587;
    font-family: AvenirNext-Medium;
    cursor: pointer;
    border-bottom: 3px solid #009587;
}

.loadmore-btn {
    padding: 10px;
    width: 40%;
    border: 2px solid #009587;
    color: #009587;
}

.loadmore-btn:active {
    border: 2px solid #009587;
    color: white;
    background-color: #009587;
}


.left-header-icon-allOrder{
    position: absolute;
    left: 0px;
    top: 10px;
    font-size: 30px;
    color: #8b8a8a;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.left-content-filter{
    /*padding: 21px 12px;*/
    /*height: 40px;*/
    width: 70px;
    font-size: 16px;
    display: inline-block;
     /*margin: 14px 0px;*/
}

.left-content-briefcase{
    
    font-size: 20px;
    padding: 17px;
    background-color: #484848;
}
.left-content-icon{
    padding: 9px 10px;
    /*height: 40px;*/
    /*width: 40px;*/
    display: inline-block;
    /* background-color: gray; */
     /*margin: 14px 0px;*/
    /* width: 14px; */
}

.left-content-icon.activated svg {
    fill: white;
}

.left-content-icon.activated {
    fill: white;
    background-color: #484848;
}

.left-content-icon-div{
    background-color:white;
    padding: 4px 10px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    /*margin-bottom: 8px;*/
}
.left-content-search{
    /*margin-top: 22px;
    margin-right: 18px;
    float: right;*/
    display: inline-block;
    height: 40px;
}


.allOrder-val-left-header{
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #727272;
    /* padding: 9px 0px 0px 14px!important; */
}
.allorder-val-right-header{
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #484848;
    padding-bottom: 10px !important;
    text-align: right;
}

.allOrder-main-edit-icon {
    text-align: right;
    background-color: #009587;
    display: inline-block;
    padding: 6px 32px;
}
.allOrder-main-delete-icon {
    text-align: right;
    background-color: #484848;
    width: 70px !important;
    height: 35px;
    float: right !important;
}
.allOrder-trash-icon{
    color:white;
}
.allOrder-main-title {
    text-align: left;
    padding: 12px;
    color: #009587;
    font-family: AvenirNext-Medium;
    font-size: 20px;
    background: white;
}
.allorder-payment-method-content{
      padding:16px!important;
      background: white;
      margin-top: 8px;
}
.allOrder-payment-method-left{
    font-family: AvenirNext-Regular;
    font-size: 16px;
     color: #a1a1a1;
    padding: 15px;

}
.allOrder-payment-method-right{
     font-family: AvenirNext-Regular;
    font-size: 16px;
     color: #a1a1a1;
    padding: 15px;
    text-align: right;
    
}
.allorder-val-content{
      padding: 0px 6px 6px 6px!important;
      cursor: pointer;
}
.allorder-val-content :hover{
}
.allOrder-vals-left{
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #727272;
}
.allOrder-vals-right{
    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #727272;
    text-align: right;
    padding-bottom: 8px !important;
}
.allorder-val-content-sub{
    padding: 10px!important;
    border: 1px solid transparent;
    border-right: 15px solid transparent;
}
.allorder-val-content-sub:hover{
    border: 1px solid #009587;
    border-right: 15px solid #009587;
}
.allorder-val-content-sub:active{
    border: 1px solid #009587;
    border-right: 15px solid #009587;
}
.allOrder-payment-method-right-btn{
     font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #a1a1a1;
    padding: 15px;
    text-align: center;
    border: 1px solid red;
    border-radius: 23px;
    /* display: inline-block; */
    width: 121px!important;
    float: right!important;
    border-style: dotted;
}
.allOrder-img-left-pickup{
    width: 20px;
}
.allOrder-img-left-car{
    width: 21px;

}
.allOrder-img-left-search{
    width: 25px;
}
.allOrder-right-content-charges{
    background: white;
    margin-top: 8px;
}
.allOrder-right-content-tittle{
   font-family: AvenirNext-DemiBold;
   font-size: 20px;
   padding: 19px 12px !important;
   color: #727272;
}
.allOver-content-left{
    font-family: AvenirNext-Medium;
    font-size: 16px;
   color: #a1a1a1;
    padding: 5px!important;
}
.allOrder-content-right{
    font-family: AvenirNext-Medium;
    font-size: 16px;
    color: #a1a1a1;
    padding: 5px!important;
    text-align: right;
}
.allOrder-main-details{
    background: #fff;
}
.allOver-content-orderTotal{
 margin-top: 15px;
}
.allOver-content-left-total{
    font-family: AvenirNext-Medium;
    font-size: 16px;
   color: #484848;
    padding: 5px!important;
}
.allOrder-content-right-total{
    font-family: AvenirNext-Medium;
    font-size: 16px;
    color: #484848;
    padding: 5px!important;
    text-align: right;
}
.allOrder-right-content-item{
    margin-top: 8px;
    background: white;
}
.allOrder-right-content-item-header{
    margin-top: 14px;
    margin-left: 23px;
    font-size: 20px;
    font-family: AvenirNext-DemiBold;
}
.allOrder-right-content-item-subHeader{
    margin-top: 9px;
}
.allOrder-right-content-item-subHeaderItem{
    
}
.order-main-right-btn{
    position: absolute;
    top: 6px;
    right: 10px;
}
#skipbtn{
    color: #FFF;
    background-color: #4cad8e;
    width: 20%;
}
.allOrder-seltab{
  text-align: center;
    padding: 13px !important;
    font-size: 20px;
    background: #484848;
    color: #4cad8e;
    font-family: AvenirNext-Medium;
    cursor: pointer;
    border-bottom: 3px solid #4cad8e;
}
.all-order-main{
    position: absolute;
    bottom: 0;
    top: 200px;
    overflow: scroll;
}

.allorder-val-content-sub-sel{
    border: 1px solid #009587;
    border-right: 15px solid #009587;
}

.sel-filter{
border: 1px solid #009587;
}

#orderNameId::-webkit-scrollbar, .main-left::-webkit-scrollbar, .modal::-webkit-scrollbar, .pickup-location-list::-webkit-scrollbar {
    display: none;
}

.main-calc::-webkit-scrollbar, .all-order-main::-webkit-scrollbar, .list-group::-webkit-scrollbar {
    display: none;
}

.search-input{
    font-size: 24px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
}

.search-section {
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    color: #636363;
}
.search-filter{
    display:inline-block;
    padding: 10px 20px;
    border: 1px solid #636363;
    margin: 0px 5px;
    color: #636363;
    background-color: #f3f3f3
}
.search-filter.selected {
    background-color: #353534;
    color: white;
}

.search-item-button {
    min-height: 90px;
    height: auto;
    font-size: 16px;
    border: 1px solid #979797;
}

.search-item-button .quantity-button {
    padding: 10px;
    background-color: #F3F3F3;
    border: 1px solid #979797;
}

.search-item-button::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.search-item-button div {
    display: inline-block;
    vertical-align: middle;
}

.search-item-button.light-background {
    background-color: #F3F3F3;
}

.search-item-button.dark-background {
    background-color: #484848;
    color: white;
}

.no-left-border {
    border-left: none !important;
}

.no-right-border {
    border-right: none !important;
}

.no-top-border {
    border-top: none !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.no-border {
    border: none !important;
}

.sett-device {
    font-size: 20px; 
    color: #484848; 
    background-color:white;
    height: 60px;
    margin-top:20px; 
    display:flex; 
    align-items:center;
    padding: 10px;
    cursor: pointer;
}

.sett-device + .sett-device {
    margin-top: 2px;
}

.sett-device .sett-item {
    margin: 0px 10px;
}

.sett-device i {
    font-size: 30px;
}

.search-order {
    overflow:hidden;
    position:relative;
    z-index: 10;
    width:77%;
    background-color:white;
    top:-60px;
    left:15px;
    display: none;
}

#searchResults {
    display: none;
    padding: 5px 15px;
}

.overflow-auto {
    overflow: auto;
}

.lookup {
    height: auto;
    padding: 5px 0px;
}

.lookup .name {
    color:#636363;
    font-size:20px;
}

.lookup .phone {
    font-size: 16px;
    color: #868686
}

.lookup .close {
    position: relative;
    left: 10px;
    top: -2px;
}

.text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sett-main-details input {
    border: none;
    border-bottom: 1px solid #009385;
}

.sett-main-details .btn {
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
}

.sett-main-details .btn.save {
    padding: 10px 80px;
    background-color: #009587;
    color: white;
}

.sett-main-details .btn.cancel {
    padding: 10px 20px;
    background-color: #d6d6d6;
}

.pickup-location-list {
    
}

.pickup-location {
    display:flex;
    align-items:center;
    font-size: 20px;
    margin: 10px;
}

/*.pickup-location:nth-child(2n+1) {
    clear: both;
    margin-top: 10px;
}*/

.pickup-location .index {
    display:inline-block;
    width:40px !important;
    height:40px !important;
    border-radius:40px !important;
    border:1px solid #8c8c8c;
    color: #8c8c8c;
}

.pickup-location .location {
    display:inline-block;
    margin-left: 10px;
    overflow: hidden;
    word-wrap: break-word;
    width: 180px;
    color: #8c8c8c;
}

.pickup-location:hover .index, .pickup-location.selected .index {
    color: #4cad8e;
    border-color: #4cad8e;
}

.pickup-location:hover .location, .pickup-location.selected .location {
    color: #4cad8e;
}

.pickup-location-container{
    display:flex;
    clear:both;
    flex-wrap:wrap;
    justify-content:space-between
}

.selectOrderImage {
    margin:10px;
    background-color:white;
    align-items:stretch;
    width:100%;
    display:flex;
    justify-content:center
}

.padding-v {
    padding: 15px 0px;
}